<launch>
    <arg name="move_group" default="arm_w_eef" />
    <arg name="sim" default="false" />
    <arg name="rviz" default="true" />
    <arg name="move" default="false" />
    <arg name="respawn" default="false" />
    <arg name="grab_frames" default="false" />

    <include file="$(find iiwa_tesla_publish)/launch/iiwa_tesla_launch_full.launch">
        <arg name="move_group" value="$(arg move_group)" />
        <arg name="sim" value="$(arg sim)" />
        <arg name="rviz" value="$(arg rviz)" />
    </include>

    <node if="$(arg move)" ns="iiwa" name="iiwa_tesla_move_route" pkg="iiwa_tesla_publish" type="move_route" respawn="$(arg respawn)" respawn_delay="10" output="screen" />
    <!-- <node if="$(arg grab_frames)" ns="iiwa" name="frame_grabber" pkg="iiwa_tesla_publish" type="gather_frames" output="screen" launch-prefix="xterm -e" /> -->
</launch>
