<launch>

  <group ns="tesla">
    <node name="goal" pkg="iiwa_tesla_publish" type="goal" output="screen"/>
    <node name="signal" pkg="iiwa_tesla_publish" type="signal" output="screen">
      <param name='crack_signal' type='bool' value='false'/>
    </node>
    <node name="hrgoal" pkg="iiwa_tesla_publish" type="hr_goal" output="screen"/>
    <node name="distance" pkg="iiwa_tesla_publish" type="main_command" output="screen"/>
    
  </group>
  
</launch>
